<div class="field-row stElWrap col80-20 tDn mDn">
    <label class="fCol">Show Icon Before Text </label>
    <span class="fCol toggle_btn">
        <input id="showIconBeforeTxt" name="enable buttonLink" type="checkbox" />
        <label for="showIconBeforeTxt" class="tgl_slider"></label>
    </span>
</div>
<div class="tDn mDn iconStng">
    <div class="field-row stElWrap col30-70">
        <label class="fCol">Search Icon</label>
        <span class="fCol cb_input">
            <input type="text" id="iconSearch" />
        </span>
    </div>
    <div class="field-row">
        <ul id="iconList" class="fontIconCollection H-200 ofS-y Pa-5 ofH-x"></ul>
    </div>
</div>
<div class="field-row stElWrap col100 iconStng">
    <span class="range__slider fCol">
        <div id="fsSlider">
            <div id="fsHandle" class="ui-slider-handle" title="IconSize">0</div>
        </div>
    </span>
</div>
<div class="iconStng" id='gutterDOM'></div>
<div class="field-row stElWrap col90-10 iconStng tDn mDn">
    <label class="fCol">Icon Color</label>
    <span class="color-picker-holder chooseColor" id="iconColor"></span>
</div>
<div id='detailPageLink'></div>
<div class="iconStng" id='iconTextStng'></div>
<div id='txtbasictab'></div>
<div id='hideEmptyDOM'></div>