
@{
    ViewData["Title"] = "Index";
}

<h1>DeleteInFutureController Index</h1>
<br />
<h6>@ViewBag.Message</h6>
<a href="/login">Login Here</a>
<br />
<a href="/account/externallogin?provider=facebook_oauth">Login With Facebook</a>
<br />
<a href="/webbuilder/home">Webbuilder</a>
<br />