<div class="mComponent image-comp" style="display:inline-block;width:100%;" data-type="image">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng" title="Setting"></i>
            <ul class="setDrp no_txt" style="display: none">
                <li class="com-settings" data-type="image">
                    <span class="text-wrp">Settings</span>
                    <i class="cb-mxr" title="Settings"></i>
                </li>
                <li class="image-settings" data-type="image">
                    <span class="text-wrp">Change Image</span>
                    <i class="cb-img" title="Change Image"></i>
                </li>
                <li class="deletehelper delete_icon">
                    <i class="cb-del" title="Delete"></i>
                </li>
            </ul>
        </span>
        <span class="sortComponent">
            <i class="cb-drg" title="Drag up and down"></i>
        </span>
    </div>
    <div class="image-wrap" style="width:100%;">
        <img src="/EmailTemplate/images/def1.jpg" class="image" alt="Default contentder image" style="width:100%;" />
    </div>
</div>