<div class="field-row stElWrap col30-70 tDn mDn">
    <label class="fCol">Link Type </label>
    <span class="fCol TxAl-r select__box">
        <select id="slcLinkOn">
            <option value="link_txt">Text</option>
            <option value="link_ico">Icon</option>
        </select>
    </span>
</div>

<div class="field-row stElWrap col30-70 tDn mDn txtStng" id="linkTextInputWrap">
    <label class="fCol TxAl-l">Link Text</label>
    <span class="fCol cb_input TxAl-r">
        <input type="text" required="" id="linkTextInput">
    </span>
</div>

<div class="tDn mDn iconStng">
    <div class="field-row stElWrap col30-70">
        <label class="fCol">Search Icon</label>
        <span class="fCol cb_input">
            <input type="text" id="iconSearch" />
        </span>
    </div>
    <div class="field-row">
        <ul id="iconList" class="fontIconCollection H-200 ofS-y Pa-5"></ul>
    </div>

</div>

<div class="field-row stElWrap col80-20">
    <label class="fCol">Open in new tab</label>
    <span class="fCol TxAl-r toggle_btn">
        <input type="checkbox" id="openInnewTab" name="toggleButton">
        <label for="toggleButton" class="tgl_slider"></label>
    </span>
</div>
<div id="textStngDOM" class="txtStng"></div>
<div id="iconStngDOM" class="iconStng"></div>
<div id="hideEmpty"></div>