@*<h4 class="fw-400 Mb-10">Welcome to your Dashboard</h4>*@
<div class=" Mb-40">
    <p class="Mb-10">
        From Dashboard you can manage settings and data needed for your website. The left hand side of this dashboard contain
        the menu list which can navigate you to different features that you can customize.
    </p>
    <p>
        From  navbar you can easily navigate to the site editor or preview the  default page as well as change the dashboard
        language if enabled. You can enable localization from
        <a href="@URLHelper.DashboardURL(Context, "localization")"> localization</a>
        You can  easily customize your dashboard  theme from   <a href="@URLHelper.DashboardURL(Context, "themesetting")" class="link primary"> Themesetting</a> and logos from
        <a href="@URLHelper.DashboardURL(Context, "logosetting")" class="link primary"> LogoSetting.</a>
    </p>
</div>