<div class="mComponent linkbtn-comp" data-type="link button">
    <div class="btn-link-wrap" style="width: 24%;border-style: none;border-width: 0px;background-color: rgb(15, 78, 247);border-radius: 13px;display: inline-block;text-align: center;margin: 0px;position: relative;">
        <div class="SetHdlr">
            <span class="stng">
                <i class="cb-stng" title="Settings"></i>
                <ul class="setDrp no_txt" style="display: none;">
                    <li class="com-settings" data-type="link button">
                        <span class="text-wrp">Settings</span>
                        <i class="cb-mxr" title="Settings"></i>
                    </li>
                    <li class="s-style" data-type="link button" data-title="button">
                        <span class="text-wrp">Style</span>
                        <i class="cb-stl" title="Styles"></i>
                    </li>
                    <li class="deletehelper delete_icon">
                        <i class="cb-del" title="Delete"></i>
                    </li>
                </ul>
            </span>
            <span class="sortComponent">
                <i class="cb-drg" title="Drag Up and down"></i>
            </span>
        </div>
        <a class="link-btn" contenteditable="true" data-link="external" href="" target="_blank" style="display: inline-block; text-decoration:none; cursor: pointer; color: rgb(250, 250, 250); line-height: 45px; font-size: 21px; letter-spacing: 1px; text-transform: none; font-family: arial; font-weight: normal; font-style: normal;">Link Button</a>
    </div>
</div>