<div class="field-row stElWrap col60-40">
    <label class="fCol">Link Type</label>
    <span class="fCol select__box">
        <select id="selectLink">
            <option value="ext">External</option>
            <option value="int">Internal</option>
        </select>
    </span>
</div>

<div id="btnWrapperWidth"></div>
<div class="field-row stElWrap col40-60 divInternalLinkOptions" style="display:none;">
    <label class="fCol">Select Page</label>
    <span class="fCol select__box">
        <select id="slcInternalLinkOptions"></select>
    </span>
</div>

<div class="field-row stElWrap col30-70 link_input">
    <label class="fCol" style="font-size:15px;">Link </label>
    <div class="fCol cb_input" id="linkTextURLHolder">
        <input placeholder="http://www.contentder.com" type="text" id="linkTextURL" style="color:rgb(255,255,255);" value="" />
    </div>
</div>
<div id="lnkbtnwidth"></div>
<div id="divTextStng"></div>
<div class="field-row stElWrap col100">
    <label>Button Text</label>
</div>
<div class="field-row">
    <span class="fCol cb_input">
        <input class="" id="btnlinkText" value="" type="text">
    </span>
</div>