<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">Google Plus</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="toggleGplus">
                <label for="toggleGplus" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="GplusURL" value="" type="text">
            </span>
        </div>
    </div>
</div>
<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">Twitter</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="toggleTwitter">
                <label for="toggleTwitter" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="TwitterURL" value="" type="text">
            </span>
        </div>
    </div>
</div>
<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">Facebook</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="toggleFacebook">
                <label for="toggleFacebook" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="FacebookURL" value="" type="text">
            </span>
        </div>
    </div>
</div>
<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">LinkedIn</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="toggleLinkedIn">
                <label for="toggleLinkedIn" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="LinkedInURL" value="" type="text">
            </span>
        </div>
    </div>
</div>
<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">Instagram</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="toggleInstagram">
                <label for="toggleInstagram" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="InstagramURL" value="" type="text">
            </span>
        </div>
    </div>
</div>
<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">Youtube</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="toggleYoutube">
                <label for="toggleYoutube" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="YoutubeURL" value="" type="text">
            </span>
        </div>
    </div>
</div>
<div class="social-site">
    <div class="field-row stElWrap col50-50">
        <label class="fCol">Pinterest</label>
        <div class="fCol TxAl-r Dfx">
            <span class="toggle_btn">
                <input type="checkbox" id="togglePinterest">
                <label for="togglePinterest" class="tgl_slider"></label>
            </span>
        </div>
    </div>
    <div class="field-row linkURL stElWrap col30-70" style="display:none;">
        <label class="fCol">URL</label>
        <div class="fCol TxAl-r Dfx">
            <span class="fCol cb_input">
                <input class="" id="PinterestURL" value="" type="text">
            </span>
        </div>
    </div>
</div>




