<div id="socialSetting">
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Google Plus</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleGooglePlus">
                            <label for="toggleGooglePlus" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
            <div class="item field-row stElWrap linkURL cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l"></span>
                <span class="sfCol_2"></span>
                <span class="sfCol_10 TxAl-l">
                    <label class="fCol itemURL">URL</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_80 ">
                    <div class="fCol toggletter inputURL TxAl-r Dfx">
                        <span class="fCol cb_input">
                            <input class="" id="TwitterURL" value="" type="text" for="GooglePlusURL">
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>