<div class="mComponent sociallinkComp" data-type="sociallink" style="display:inline-block;">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng" title="Settings"></i>
            <ul class="setDrp no_txt" style="display: none;">
                <li class="com-settings" data-type="sociallink">
                    <span class="text-wrp">Settings</span>
                    <i class="cb-mxr" title="Settings"></i>
                </li>
                <li class="s-style" data-type="sociallink" data-title="button">
                    <span class="text-wrp">Style</span>
                    <i class="cb-stl" title="Styles"></i>
                </li>
                <li class="deletehelper delete_icon">
                    <i class="cb-del" title="Delete"></i>
                </li>
            </ul>
        </span>
        <span class="sortComponent">
            <i class="cb-drg" title="Drag Up and down"></i>
        </span>
    </div>
    <div class="sociallink-items" style="margin: 2px;">
        <span class="sociallink googleplus" data-name="Google Plus" style="display: inline-block; width: 11%; padding: 5px;">
            <a href="#">
                <img src="/emailtemplate/icons/googleplus.png" style="width:100%; height:auto;">
            </a>
        </span>
        <div class="sociallink twitterlink" data-name="Twitter" style="display: inline-block; width: 11%; padding: 5px;">
            <a href="#" style="">
                <img src="/emailtemplate/icons/twitter.png" style="width: 100%;height:auto;">
            </a>
        </div>
        <span class="sociallink facebooklink" data-name="Facebook" style="display: inline-block; width: 11%; padding: 5px;">
            <a href="#">
                <img src="/emailtemplate/icons/facebook.png" style="width:100%; height:auto;">
            </a>
        </span>
        <span class="sociallink linkedinlink" data-name="LinkedIn" style="display: none; width: 11%; padding: 5px;">
            <a href="#">
                <img src="/emailtemplate/icons/linkedin.png" style="width:100%; height:auto;">
            </a>
        </span>
        <span class="sociallink instagram" data-name="Instagram" style="display: none; width: 11%; padding: 5px;">
            <a href="#">
                <img src="/emailtemplate/icons/instagram.png" style="width:100%; height:auto;">
            </a>
        </span>
        <span class="sociallink youtube" data-name="Youtube" style="display: none; width: 11%; padding: 5px;">
            <a href="#">
                <img src="/emailtemplate/icons/youtube.png" style="width:100%; height:auto;">
            </a>
        </span>
        <span class="sociallink pinterest" data-name="Pinterest" style="display: none; width: 11%; padding: 5px;">
            <a href="#">
                <img src="/emailtemplate/icons/pinterest.png" style="width:100%; height:auto;">
            </a>
        </span>
    </div>
</div>