<div class="mComponent logo-comp " data-type="logo" style="display: inline-block; width: 35%;">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng" title="Setting"></i>
            <ul class="setDrp no_txt" style="display: none">
                <li class="com-settings" data-type="logo">
                    <span class="text-wrp">Settings</span>
                    <i class="cb-mxr" title="Settings"></i>
                </li>
                <li class="deletehelper delete_icon">
                    <i class="cb-del" title="Delete"></i>
                </li>
            </ul>
        </span>
        <span class="sortComponent">
            <i class="cb-drg" title="Drag up and down"></i>
        </span>
    </div>
    <div class="image-wrap" style="">
        <img src="" class="ml-logo" alt="Default contentder logo" style="width:100%;display: inline-block;">
    </div>
</div>