
@{
    ViewData["Title"] = "alerts";
}
<div class="cd_content">
    <h1 class="content_title ">Alerts</h1>
    <p class="content_lead ">
        Alerts or also feedback messages that are displayed after specific actions performed by users.
    </p>
</div>
<div class="cd_example">

    <div class="preview">
        <div class="act-message Primary">
            <span>A simple primary message</span>
        </div>
        <div class="act-message Secondary">
            <span>A simple secondary message</span>
        </div>
        <div class="act-message Success">
            <span>A simple success message</span>
        </div>
        <div class="act-message Info">
            <span>A simple info message</span>
        </div>
        <div class="act-message Warning">
            <span>A simple warning message</span>
        </div>
        <div class="act-message Dark">
            <span>A simple dark message</span>
        </div>

        <div class="act-message Error">
            <span>A simple error message</span>
        </div>




        <div class="act-message Light">
            <span>A simple light message</span>
        </div>
    </div>
  
</div>
