
@{
    ViewData["Title"] = "cards";
}

<div class="cd_content">
    <h1 class="content_title ">Card</h1>
    <p class="content_lead">Cards are components which display content built of different elements and multiple variants.</p>
</div>

<div class="cd_example Mb-10x">
    <div class="preview no-border">
        <div class="sfRow">
            <div class="sfCol-4">
                <div class="card">
                    <img src="" alt="" />
                    <div class="card-body">

                        <h5><a href="#">Card Title</a></h5>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                        <div class="sfButtonwrapper">
                            <div class="btn primary">Button</div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="card-holder">
                <div class="card">
                    <img src="" alt="" />
                    <div class="card-body">

                        <h5><a href="#">Card Title</a></h5>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>
<div class="cd_example no-bg Mb-10x">
    <div class="preview">
        <div class="sfRow">
            <div class="sfCol-4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80" alt="" />

                    </div>
                    <div class="card-body">

                        <h5><a href="#">Card Title</a></h5>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="sfButtonwrapper">
                            <a class="btn link-primary">View</a>
                            <a class="btn link-secondary">Buy</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="card-holder" style="max-width:450px">
                <div class="card">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80" alt="" />

                    </div>
                    <div class="card-body">

                        <h5><a href="#">Card Title</a></h5>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-body">
                        <div class="sfButtonwrapper">
                            <a class="btn link-primary">View</a>
                            <a class="btn link-secondary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>

<div class="cd_example  Mb-10x no-bg">
    <div class="preview">
        <div class="sfRow">
            <div class="sfCol-4">
                <div class="card">
                    <div class="card-body">
                        <h5><a href="/">First Column</a></h5>
                        <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                    </div>
                </div>
            </div>
            <div class="sfCol-4">
                <div class="card">
                    <div class="card-body">
                        <h5><a href="">Second Column</a></h5>
                        <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                    </div>
                </div>
            </div>
            <div class="sfCol-4">
                <div class="card">
                    <div class="card-body">
                        <h5><a href="">Third Column</a></h5>
                        <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="sfRow">
                <div class="sfCol-4">
                    <div class="card">
                        <div class="card-body">
                            <h5><a href="/">First Column</a></h5>
                            <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                        </div>
                    </div>
                </div>
                <div class="sfCol-4">
                    <div class="card">
                        <div class="card-body">
                            <h5><a href="">Second Column</a></h5>
                            <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                        </div>
                    </div>
                </div>
                <div class="sfCol-4">
                    <div class="card">
                        <div class="card-body">
                            <h5><a href="">Third Column</a></h5>
                            <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>


<div class="cd_example no-bg">
    <div class="preview">
        <div class="sfRow">
            <div class="sfCol-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Header Title</h5>

                    </div>
                    <div class="card-body">
                        <h5><a href="/">First Column</a></h5>
                        <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                        <div class="sfButtonwrapper">
                            <button class="btn primary">
                                Link
                            </button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>2 days ago</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="card">
                <div class="card-header">
                    <h5>Header Title</h5>

                </div>
                <div class="card-body">
                    <h5><a href="/">First Column</a></h5>
                    <p>Ut enim ad minima veniam, quis nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate non proident velit esse quam.</p>
                    <div class="sfButtonwrapper">
                        <button class="btn primary">
                            Link
                        </button>
                    </div>
                </div>
                <div class="card-footer">
                    <p>2 days ago</p>
                </div>
            </div>
        </div>
    </figure>
</div>

