
@{
    ViewData["Title"] = "Colors";
}
<div class="cd_content">
    <h1 class="content_title ">Colors</h1>
    <p class="content_lead ">
        Handy color utility classes for texts, headings,backgroundsand links.
    </p>
</div>

<div class="cd_example cd_example-colors Mb-20x">
    <div class="preview">
        <p class="color-primary">.color-primary</p>
        <p class="color-secondary">.color-secondary</p>
        <p class="color-success">.color-success</p>
        <p class="color-info">.color-info</p>
        <p class="color-warning">.color-warning</p>
        <p class="color-danger">.color-danger</p>
        <p class="color-light">.color-light</p>
        <p class="color-dark">.color-dark</p>
        <p class="color-black">.color-black</p>
        <p class="color-white">.color-white</p>
    </div>
    <figure class="highlight">
        <div data-lang="lang-html" class="codeContent">
            <p class="color-primary">.color-primary</p>
            <p class="color-secondary">.color-secondary</p>
            <p class="color-success">.color-success</p>
            <p class="color-info">.color-info</p>
            <p class="color-warning">.color-warning</p>
            <p class="color-danger">.color-danger</p>
            <p class="color-light">.color-light</p>
            <p class="color-dark">.color-dark</p>
            <p class="color-black">.color-black</p>
            <p class="color-white">.color-white</p>
        </div>
    </figure>
</div>
<div class="cd_example cd_example-links Mb-20x">
    <div class="preview">
        <a class="link-primary">.color-primary</a>
        <a class="link-secondary">.color-secondary</a>
        <a class="link-success">.color-success</a>
        <a class="link-info">.color-info</a>
        <a class="link-warning">.color-warning</a>
        <a class="link-danger">.color-danger</a>
        <a class="link-light">.color-light</a>
        <a class="link-dark">.color-dark</a>

    </div>
    <figure class="highlight">
        <div data-lang="lang-html" class="codeContent">
            <a class="link-primary">.color-primary</a>
            <a class="link-secondary">.color-secondary</a>
            <a class="link-success">.color-success</a>
            <a class="link-info">.color-info</a>
            <a class="link-warning">.color-warning</a>
            <a class="link-danger">.color-danger</a>
            <a class="link-light">.color-light</a>
            <a class="link-dark">.color-dark</a>
        </div>
    </figure>
</div>


<div class="cd_example cd_example-grays Mb-20x">
    <div class="preview">
        <p class="gray-100">.gray-100</p>
        <p class="gray-200">.gray-200</p>
        <p class="gray-300">.gray-300</p>
        <p class="gray-400">.gray-400</p>
        <p class="gray-500">.gray-500</p>
        <p class="gray-600">.gray-600</p>
        <p class="gray-700">.gray-700</p>
        <p class="gray-800">.gray-800</p>
        <p class="gray-900">.gray-900</p>
        <p class="gray-black">.gray-900</p>
    </div>
    <figure class="highlight">
        <div data-lang="lang-html" class="codeContent">
            <p class="gray-100">.gray-100</p>
            <p class="gray-200">.gray-200</p>
            <p class="gray-300">.gray-300</p>
            <p class="gray-400">.gray-400</p>
            <p class="gray-500">.gray-500</p>
            <p class="gray-600">.gray-600</p>
            <p class="gray-700">.gray-700</p>
            <p class="gray-800">.gray-800</p>
            <p class="gray-900">.gray-900</p>
            <p class="gray-black">.gray-900</p>
        </div>
    </figure>
</div>

