
@{
    ViewData["Title"] = "Containers";
}

<div class="cd_content">
    <h1 class="content_title ">Containers</h1>
    <p class="content_lead ">
        Components and options for laying out your , including wrapping containers, a powerful grid system, a flexible media object, and responsive utility classes.
    </p>
</div>
<div class="cd_example">
    <div class="board ">
        <table class="table text-left ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        X small<br>
                        <span class="fw-normal ">≤576</span>
                    </th>

                    <th>
                        Small<br>
                        <span class="fw-normal ">≥576</span>
                    </th>
                    <th>
                        Medium<br>
                        <span class="fw-normal ">≥768</span>
                    </th>
                    <th>
                        large<br>
                        <span class="fw-normal ">≥992</span>
                    </th>
                    <th>
                        Extra large<br>
                        <span class="fw-normal ">≥1200px</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>.sfContainer</code></td>
                    <td class="text-muted ">100%</td>
                    <td>540px</td>
                    <td>720px</td>
                    <td>960px</td>
                    <td>1160px</td>
                </tr>
                <tr>
                    <td><code>.sfContainer-sm</code></td>
                    <td class="text-muted ">100%</td>
                    <td>540px</td>
                    <td>720px</td>
                    <td>960px</td>
                    <td>1160px</td>
                </tr>
                <tr>
                    <td><code>.sfContainer-md</code></td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td>720px</td>
                    <td>960px</td>
                    <td>1160px</td>
                </tr>
                <tr>
                    <td><code>.sfContainer-lg</code></td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td>960px</td>
                    <td>1160px</td>
                </tr>
                <tr>
                    <td><code>.sfContainer-xl</code></td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td>1160px</td>
                </tr>
                <tr>
                    <td><code>.sfContainer-fluid</code></td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                    <td class="text-muted ">100%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <figure class="highlight">
        <div data-lang="lang-html" class="codeContent">
            <div class="sfContainer">
                ! here goes the content
            </div>
        </div>
    </figure>
</div>


