
@{
    ViewData["Title"] = "Flex";
}
<div class="cd_content">
    <h1 class="content_title ">Flex</h1>
    <p class="content_lead ">
        Flexbox utility for managing positions of items in a container and to distribute space between them efficiently.
    </p>
</div>

<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">Enabling flex</span>
        <p></p>
    </div>
    <div class="preview flexvalue spacing">
        <div class=" flex">This is flexbox container</div>
        <div class=" i-flex">This is inline flexbox container</div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class=" flex">This is flexbox container</div>
            <div class=" i-flex">This is inline flexbox container</div>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">Wrapping Flex items</span>
        <p></p>
    </div>
    <div class="preview flexvalue">
        <div class="flex f-wrap">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>

        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="flex f-wrap">
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>
                <div>Flex item</div>

            </div>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">Horizontal position with flex </span>
        <p></p>
    </div>
    <div class="preview flexvalue">
        <div class="flex f-start">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
        <div class="flex f-center">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
        <div class="flex f-end">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
        <div class="flex f-s-between">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
        <div class="flex f-s-around">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="flex f-start">
                <div>...</div>
            </div>
            <div class="flex f-start">
                <div>...</div>
            </div>
            <div class="flex f-center">
                <div>...</div>
            </div>
            <div class="flex f-end">
                <div>...</div>
            </div>
            <div class="flex f-s-between">
                <div>...</div>
            </div>
            <div class="flex f-s-around">
                <div>...</div>
            </div>
        </div>
    </figure>

</div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">Vertical  position with flex</span>
        <p></p>
    </div>
    <div class="preview flexvalue height">
        <div class="flex f-top">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
        <div class="flex f-middle">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>
        <div class="flex f-bottom">
            <div>Flex item</div>
            <div>Flex item</div>
            <div>Flex item</div>
        </div>


    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="flex f-top">
                <div>...</div>
            </div>
            <div class="flex f-center">
                <div>...</div>
            </div>
            <div class="flex f-bottom">
                <div>...</div>
            </div>
        </div>
    </figure>

</div>