
@{
    ViewData["Title"] = "Forms";
}

<div class="cd_content">
    <h1 class="content_title ">Forms</h1>
    <p class="content_lead ">
        Forms and their layout options for any kind of input based operations invloving users' interactions.
    </p>
</div>

<div class="cd_example Mb-20x ">
    <div class="preview">
        <div class="sfFormwrapper">
            <div class="sfFieldset">
                <div class="formkey">
                    <span class="sfFormlabel">First name</span>
                </div>
                <div class="formvalue">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                </div>
            </div>
            <div class="sfFieldset">
                <div class="formkey">
                    <span class="sfFormlabel">Last name</span>
                </div>
                <div class="formvalue">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                </div>
            </div>
            <div class="sfFieldset">
                <div class="formkey">
                    <span class="sfFormlabel">First name</span>
                </div>
                <div class="formvalue">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                </div>
            </div>
            <div class="sfFieldset">

                <div class="formvalue ">
                    <div class="sfCheckbox">
                        <input type="checkbox" id="checkbox1" class="form-checkbox">
                        <label for="checkbox1">Checkbox</label>
                    </div>
                    <div class="sfCheckbox">
                        <input type="checkbox" id="checkbox10" class="form-checkbox">
                        <label for="checkbox10">Checkbox</label>
                    </div>
                </div>
            </div>
            <div class="sfFieldset">

                <div class="formvalue ">
                    <div class="sfCheckbox">
                        <input type="radio" id="radio1" class="form-radio">
                        <label for="radio2">Radio</label>
                    </div>
                    <div class="sfCheckbox">
                        <input type="radio" id="radio2" class="form-radio">
                        <label for="radio1">Radio</label>
                    </div>

                </div>
            </div>
            <div class="sfFieldset">
                <div class="formkey">
                    <span class="sfFormlabel">Message</span>
                </div>
                <div class="formvalue">
                    <textarea class="sfFormcontrol area"></textarea>
                </div>
            </div>
        </div>

    </div>
    <figure class="Mt-5x">
        <div data-lang="lang-html" class="codeContent">
            <div class="sfFormwrapper">
                <div class="sfFieldset">
                    <div class="formkey">
                        <span class="sfFormlabel">First name</span>
                    </div>
                    <div class="formvalue">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <span class="sfFormlabel">Last name</span>
                    </div>
                    <div class="formvalue">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <span class="sfFormlabel">First name</span>
                    </div>
                    <div class="formvalue">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>
                <div class="sfFieldset">

                    <div class="formvalue ">
                        <div class="sfCheckbox">
                            <input type="checkbox" id="checkbox1" class="form-checkbox">
                            <label for="checkbox1">Checkbox</label>
                        </div>
                        <div class="sfCheckbox">
                            <input type="checkbox" id="checkbox10" class="form-checkbox">
                            <label for="checkbox10">Checkbox</label>
                        </div>
                    </div>
                </div>
                <div class="sfFieldset">

                    <div class="formvalue ">
                        <div class="sfCheckbox">
                            <input type="radio" id="radio1" class="form-radio">
                            <label for="radio2">Radio</label>
                        </div>
                        <div class="sfCheckbox">
                            <input type="radio" id="radio2" class="form-radio">
                            <label for="radio1">Radio</label>
                        </div>

                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <span class="sfFormlabel">Message</span>
                    </div>
                    <div class="formvalue">
                        <textarea class="sfFormcontrol area"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </figure>
</div>
<div class="cd_example Mb-20x">
    <div class="preview">
        <div class="sfFormwrapper ">
            <div class="sfRow">
                <div class="sfFieldset sfCol-6  Px-15">
                    <div class="formkey">
                        <span class="sfFormlabel">First name</span>
                    </div>
                    <div class="formvalue">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>

                <div class="sfFieldset sfCol-6   Mb-3x">
                    <div class="formkey">
                        <span class="sfFormlabel">Last name</span>
                    </div>
                    <div class="formvalue">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>

                <div class="sfFieldset sfCol-6  Px-15">
                    <div class="formkey">
                        <span class="sfFormlabel">Email</span>
                    </div>
                    <div class="formvalue">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>


                <div class="sfFieldset sfCol-6 ">
                    <div class="formkey">
                        <span class="sfFormlabel">Occupation</span>
                    </div>
                    <div class="formvalue">

                        <select class="sfFormcontrol" placeholder=" Enter your name ">

                            <option>Open this select menu</option>
                            <option value="1 ">One</option>
                            <option value="2 ">Two</option>
                            <option value="3 ">Three</option>
                        </select>

                    </div>
                </div>


                <div class="sfFieldset sfCol-4  ">

                    <div class="formvalue ">
                        <div class="sfFieldset">
                            <input type="checkbox" id="checkbox2" class="form-checkbox">
                            <label for="checkbox2">Checkbox</label>
                        </div>
                    </div>
                </div>


                <div class="sfFieldset sfCol-4 ">

                    <div class="formvalue horizontal-list">
                        <div class="sfCheckbox sfCheckbox-toggle">
                            <input type="checkbox" id="checkbox16" class="form-toggle">
                            <label for="checkbox16" class="toggle"></label>
                        </div>
                        <span class="sfFormlabel">Toggle</span>
                    </div>
                </div>


                <div class="sfFieldset sfCol-4  ">

                    <div class="formvalue horizontal-list">
                        <div class="sfCheckbox ">
                            <input type="radio" id="radio1" class="form-radio">
                            <label for="radio1">Radio</label>

                        </div>
                        <div class="sfCheckbox ">
                            <input type="radio" id="radio2" class="form-radio">
                            <label for="radio2">Radio</label>

                        </div>
                    </div>

                </div>


                <div class="sfFieldset sfCol-12  ">
                    <div class="formkey">
                        <span class="sfFormlabel">Message</span>
                    </div>
                    <div class="formvalue">
                        <textarea class="sfFormcontrol area"></textarea>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <figure class="Mt-5x">
        <div data-lang="lang-html" class="codeContent">
            <div class="sfFormwrapper ">
                <div class="sfRow">
                    <div class="sfFieldset sfCol-6  Px-15">
                        <div class="formkey">
                            <span class="sfFormlabel">First name</span>
                        </div>
                        <div class="formvalue">
                            <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                        </div>
                    </div>

                    <div class="sfFieldset sfCol-6   Mb-3x">
                        <div class="formkey">
                            <span class="sfFormlabel">Last name</span>
                        </div>
                        <div class="formvalue">
                            <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                        </div>
                    </div>

                    <div class="sfFieldset sfCol-6  Px-15">
                        <div class="formkey">
                            <span class="sfFormlabel">Email</span>
                        </div>
                        <div class="formvalue">
                            <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                        </div>
                    </div>


                    <div class="sfFieldset sfCol-6 ">
                        <div class="formkey">
                            <span class="sfFormlabel">Occupation</span>
                        </div>
                        <div class="formvalue">

                            <select class="sfFormcontrol" placeholder=" Enter your name ">

                                <option>Open this select menu</option>
                                <option value="1 ">One</option>
                                <option value="2 ">Two</option>
                                <option value="3 ">Three</option>
                            </select>

                        </div>
                    </div>


                    <div class="sfFieldset sfCol-4  ">

                        <div class="formvalue ">
                            <div class="sfFieldset">
                                <input type="checkbox" id="checkbox2" class="form-checkbox">
                                <label for="checkbox2">Checkbox</label>
                            </div>
                        </div>
                    </div>


                    <div class="sfFieldset sfCol-4  ">

                        <div class="formvalue horizontal-list">
                            <div class="sfCheckbox sfCheckbox-toggle">
                                <input type="checkbox" id="checkbox16" class="form-toggle">
                                <label for="checkbox16" class="toggle"></label>
                            </div>
                            <span class="sfFormlabel">Toggle</span>
                        </div>

                    </div>


                    <div class="sfFieldset sfCol-4  ">

                        <div class="formvalue horizontal-list">
                            <div class="sfCheckbox ">
                                <input type="radio" id="radio1" class="form-radio">
                                <label for="radio1">Radio</label>

                            </div>
                            <div class="sfCheckbox ">
                                <input type="radio" id="radio2" class="form-radio">
                                <label for="radio2">Radio</label>

                            </div>
                        </div>

                    </div>


                    <div class="sfFieldset sfCol-12  ">
                        <div class="formkey">
                            <span class="sfFormlabel">Message</span>
                        </div>
                        <div class="formvalue">
                            <textarea class="sfFormcontrol area"></textarea>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </figure>
</div>

<div class="cd_example Mb-20x">
    <div class="preview">
        <div class="sfFormwrapper ">
            <div class=" sfRow Mb-3x">
                <div class="sfCol-4 formkey ">
                    <span class="sfFormlabel">First name</span>
                </div>
                <div class="sfCol-8 formvalue  ">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                </div>
            </div>

            <div class=" sfRow Mb-3x">
                <div class="sfCol-4 formkey ">
                    <span class="sfFormlabel">Last name</span>
                </div>
                <div class="sfCol-8 formvalue ">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                </div>
            </div>

            <div class=" sfRow Mb-3x">
                <div class="sfCol-4 formkey ">
                    <span class="sfFormlabel">Email</span>
                </div>
                <div class="sfCol-8 formvalue ">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                </div>
            </div>
            <div class=" sfRow Mb-3x">
                <div class="sfCol-4 formkey ">
                    <span class="sfFormlabel">Occupation</span>
                </div>
                <div class="sfCol-8 formvalue ">

                    <select class="sfFormcontrol" placeholder=" Enter your name ">

                        <option>Open this select menu</option>
                        <option value="1 ">One</option>
                        <option value="2 ">Two</option>
                        <option value="3 ">Three</option>
                    </select>

                </div>
            </div>
            <div class="sfRow Mb-3x">
                <div class="sfCol-4 formkey ">
                    <span class="sfFormlabel">Choices</span>
                </div>
                <div class="sfCol-8 formvalue ">
                    <div class="sfFieldset">
                        <div class="formvalue sfFormcontrols-list">
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxa" class="form-checkbox">
                                <label for="checkboxa">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxb" class="form-checkbox">
                                <label for="checkboxb">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxc" class="form-checkbox">
                                <label for="checkboxc">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxd" class="form-checkbox">
                                <label for="checkboxd">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxe" class="form-checkbox">
                                <label for="checkboxe">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxf" class="form-checkbox">
                                <label for="checkboxf">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxg" class="form-checkbox">
                                <label for="checkboxg">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxh" class="form-checkbox">
                                <label for="checkboxh">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxi" class="form-checkbox">
                                <label for="checkboxi">Checkbox</label>
                            </div>
                            <div class="sfCheckbox">
                                <input type="checkbox" id="checkboxj" class="form-checkbox">
                                <label for="checkboxj">Checkbox</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sfRow Mb-3x">
                <div class="sfCol-4 formkey ">
                    <span class="sfFormlabel">Message</span>
                </div>
                <div class="sfCol-8 formvalue ">
                    <textarea class="sfFormcontrol area"></textarea>
                </div>
            </div>



        </div>
    </div>
    <figure class="Mt-5x">
        <div data-lang="lang-html" class="codeContent">
            <div class="sfFormwrapper ">
                <div class=" sfRow Mb-3x">
                    <div class="sfCol-4 formkey ">
                        <span class="sfFormlabel">First name</span>
                    </div>
                    <div class="sfCol-8 formvalue  ">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>

                <div class=" sfRow Mb-3x">
                    <div class="sfCol-4 formkey ">
                        <span class="sfFormlabel">Last name</span>
                    </div>
                    <div class="sfCol-8 formvalue ">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>

                <div class=" sfRow Mb-3x">
                    <div class="sfCol-4 formkey ">
                        <span class="sfFormlabel">Email</span>
                    </div>
                    <div class="sfCol-8 formvalue ">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your name">
                    </div>
                </div>
                <div class=" sfRow Mb-3x">
                    <div class="sfCol-4 formkey ">
                        <span class="sfFormlabel">Occupation</span>
                    </div>
                    <div class="sfCol-8 formvalue ">

                        <select class="sfFormcontrol" placeholder=" Enter your name ">

                            <option>Open this select menu</option>
                            <option value="1 ">One</option>
                            <option value="2 ">Two</option>
                            <option value="3 ">Three</option>
                        </select>

                    </div>
                </div>
                <div class="sfRow Mb-3x">
                    <div class="sfCol-4 formkey ">
                        <span class="sfFormlabel">Choices</span>
                    </div>
                    <div class="sfCol-8 formvalue ">
                        <div class="sfFieldset">
                            <div class="formvalue sfFormcontrols-list">
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxa" class="form-checkbox">
                                    <label for="checkboxa">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxb" class="form-checkbox">
                                    <label for="checkboxb">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxc" class="form-checkbox">
                                    <label for="checkboxc">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxd" class="form-checkbox">
                                    <label for="checkboxd">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxe" class="form-checkbox">
                                    <label for="checkboxe">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxf" class="form-checkbox">
                                    <label for="checkboxf">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxg" class="form-checkbox">
                                    <label for="checkboxg">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxh" class="form-checkbox">
                                    <label for="checkboxh">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxi" class="form-checkbox">
                                    <label for="checkboxi">Checkbox</label>
                                </div>
                                <div class="sfCheckbox">
                                    <input type="checkbox" id="checkboxj" class="form-checkbox">
                                    <label for="checkboxj">Checkbox</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sfRow Mb-3x">
                    <div class="sfCol-4 formkey ">
                        <span class="sfFormlabel">Message</span>
                    </div>
                    <div class="sfCol-8 formvalue ">
                        <textarea class="sfFormcontrol area"></textarea>
                    </div>
                </div>



            </div>
        </div>
    </figure>
</div>

<div class="cd_example Mb-20x">
    <div class="preview">
        <div class="sfFormwrapper ">
            <div class="sfFieldset sfRow">
                <div class="formkey sfCol-auto">
                    <span class="sfFormlabel">Email</span>
                </div>
                <div class="formvalue  sfCol-auto">
                    <input type="text" class="sfFormcontrol" placeholder="Enter your Email">
                </div>
                <div class=" sfButtonwrapper  Mt-0 sfCol-auto">
                    <button class="btn primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <figure class="Mt-5x">
        <div data-lang="lang-html" class="codeContent">
            <div class="sfFormwrapper ">
                <div class="sfFieldset sfRow">
                    <div class="formkey sfCol-auto">
                        <span class="sfFormlabel">Email</span>
                    </div>
                    <div class="formvalue  sfCol-auto">
                        <input type="text" class="sfFormcontrol" placeholder="Enter your Email">
                    </div>
                    <div class=" sfButtonwrapper Mt-0 sfCol-auto">
                        <button class="btn primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>

<div class="cd_example Mb-20x">
    <div class="board">
        <span class="example_title">Sizing</span>
    </div>
    <div class="preview input-size">


        <input type="text" class="sfFormcontrol sfFormcontrol-lg" placeholder="Enter your Email">
        <input type="text" class="sfFormcontrol sfFormcontrol-md" placeholder="Enter your Email">
        <input type="text" class="sfFormcontrol sfFormcontrol-sm" placeholder="Enter your Email">



    </div>
    <figure class="Mt-5x">
        <div data-lang="lang-html" class="codeContent">
            <input type="text" class="sfFormcontrol sfFormcontrol-lg" placeholder="Enter your Email">
            <input type="text" class="sfFormcontrol sfFormcontrol-md" placeholder="Enter your Email">
            <input type="text" class="sfFormcontrol sfFormcontrol-sm" placeholder="Enter your Email">
        </div>
    </figure>
</div>
