
@{
    ViewData["Title"] = "grid";
}

<div class="cd_content">
    <h1 class="content_title ">Grid</h1>
    <p class="content_lead ">
        Data grid or data table for facilitating users with similar list of informations stacked vertically with filtering options .
    </p>

</div>
<div class="cd_example grid ">
    <h2>12 Grid System</h2>
    <p class="Mb-3x">
        The classes are named using the format <code class="highlighter-rouge">{sfCol}-{deivce}-{gridproperty}</code> .
    </p>
    <div class="board Mb-25x">
        <table class="table t-left ">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Smallest<br>
                        <span class="fw-normal "> ≤ 576px</span>
                    </th>

                    <th>
                        Small<br>
                        <span class="fw-normal ">≥576px</span>
                    </th>
                    <th>
                        Medium<br>
                        <span class="fw-normal ">≥768px</span>
                    </th>
                    <th>
                        large<br>
                        <span class="fw-normal ">≥992px</span>
                    </th>
                    <th>
                        Extra large<br>
                        <span class="fw-normal ">≥1200pxpx</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Number of Columns</th>
                    <td class="text-muted " colspan="5">12 (Starting from 1 - 12)</td>

                </tr>
                <tr>
                    <th>Gutter width </th>
                    <td class="text-muted " colspan="5">30px (15px on each side)</td>

                </tr>
                <tr>
                    <th>sfContainer max-width</th>
                    <td class="text-muted ">100%</td>
                    <td>540px</td>
                    <td>768px</td>
                    <td>960px</td>
                    <td>1160px</td>
                </tr>
                <tr>
                    <th>Class prefix(device)</th>
                    <td class="text-muted "><code>.sfCol-</code></td>
                    <td><code>.sfCol-sm-</code></td>
                    <td><code>.sfCol-md-</code></td>
                    <td>
                        <code>.sfCol-lg-</code>
                    </td>
                    <td><code>.sfCol-xl-</code>

                </tr>


            </tbody>
        </table>
    </div>
</div>
<div class="cd_example grid Mb-10x">
    <div class="preview preview grid MlN-3x grid">
        <span class="example_title Px-3x">Equal width</span>
        <div class="sfContainer-full ">
            <div class="sfRow">
                <div class="sfCol">
                    <p>First Column</p>
                </div>
                <div class="sfCol">
                    <p>Second Column</p>
                </div>
                <div class="sfCol">
                    <p>Third Column</p>
                </div>
                <div class="sfCol">
                    <p>Fourth Column</p>
                </div>
            </div>
        </div>
    </div>
    <figure class="highlight">
        <div data-lang="lang-html" class="codeContent">
            <div class="sfContainer">
                <div class="sfRow">
                    <div class="sfCol">First Column</div>
                    <div class="sfCol">Second Column</div>
                    <div class="sfCol">Third Column</div>
                    <div class="sfCol">Fourth Column</div>
                </div>
            </div>
        </div>
</figure>

</div>
<div class="cd_example grid Mb-10x">
        <div class="preview MlN-3x  Px-0 grid">
            <span class="example_title Px-3x">Full width container</span>
            <p class="example_lead"></p>
            <div class="sfContainer-full ">
                <div class="sfRow">
                    <div class="sfCol-12">
                        <p>sfCol-12</p>
                    </div>
                    <div class="sfCol-11">
                        <p>sfCol-11</p>
                    </div>
                    <div class="sfCol-1">
                        <p>sfCol-1</p>
                    </div>
                    <div class="sfCol-10 ">
                        <p>sfCol-10</p>
                    </div>
                    <div class="sfCol-2 ">
                        <p>sfCol-2</p>
                    </div>
                    <div class="sfCol-9">
                        <p>sfCol-9</p>
                    </div>
                    <div class="sfCol-3">
                        <p>sfCol-3</p>
                    </div>

                    <div class="sfCol-8">
                        <p>sfCol-8</p>
                    </div>

                    <div class="sfCol-4">
                        <p>sfCol-4</p>
                    </div>

                    <div class="sfCol-7">
                        <p>sfCol-7</p>
                    </div>

                    <div class="sfCol-5">
                        <p>sfCol-5</p>
                    </div>

                    <div class="sfCol-6">
                        <p>sfCol-6</p>
                    </div>

                    <div class="sfCol-6">
                        <p>sfCol-6</p>
                    </div>

                    <div class="sfCol-5">
                        <p>sfCol-5</p>
                    </div>

                    <div class="sfCol-7">
                        <p>sfCol-7</p>
                    </div>

                    <div class="sfCol-4">
                        <p>sfCol-4</p>
                    </div>

                    <div class="sfCol-8">
                        <p>sfCol-8</p>
                    </div>

                    <div class="sfCol-3">
                        <p>sfCol-3</p>
                    </div>

                    <div class="sfCol-9">
                        <p>sfCol-9</p>
                    </div>

                    <div class="sfCol-2">
                        <p>sfCol-2</p>
                    </div>

                    <div class="sfCol-10">
                        <p>sfCol-10</p>
                    </div>

                    <div class="sfCol-1">
                        <p>sfCol-1</p>
                    </div>

                    <div class="sfCol-11">
                        <p>sfCol-11</p>
                    </div>


                </div>
            </div>
        </div>
        <figure class="highlight">
            <div data-lang="lang-html" class="codeContent">
                <div class="sfContainer-full">
                    <div class="sfRow">
                        <div class="sfCol-12"></div>
                        <div class="sfCol-11"></div><div class="sfCol-1"></div>
                        <div class="sfCol-10"></div><div class="sfCol-2"></div>
                        <div class="sfCol-9"></div><div class="sfCol-3"></div>
                        <div class="sfCol-8"></div><div class="sfCol-4"></div>
                        <div class="sfCol-7"></div><div class="sfCol-5"></div>
                        <div class="sfCol-6"></div><div class="sfCol-6"></div>
                        <div class="sfCol-5"></div><div class="sfCol-7"></div>
                        <div class="sfCol-4"></div><div class="sfCol-8"></div>
                        <div class="sfCol-3"></div><div class="sfCol-9"></div>
                        <div class="sfCol-2"></div><div class="sfCol-10"></div>
                        <div class="sfCol-1"></div> <div class="sfCol-11"></div>
                      
                    </div>
                </div>
            </div>
</figure>
</div>
<div class="cd_example  Mb-10x">
        <div class="preview MlN-3x t-center grid">
            <span class="example_title Px-3x">Fixed  width container</span>
            <p class="example_lead"></p>
            <div class="sfContainer ">
                <div class="sfRow">
                    <div class="sfCol-12">
                        <p>sfCol-12</p>
                    </div>

                    <div class="sfCol-10">
                        <p>sfCol-10</p>
                    </div>
                    <div class="sfCol-2">
                        <p>sfCol-2</p>
                    </div>
                    <div class="sfCol-8 ">
                        <p>sfCol-8</p>
                    </div>
                    <div class="sfCol-4 ">
                        <p>sfCol-4</p>
                    </div>
                    <div class="sfCol-6 ">
                        <p>sfCol-6</p>
                    </div>
                    <div class="sfCol-6 ">
                        <p>sfCol-6</p>
                    </div>
                    <div class="sfCol-5 ">
                        <p>sfCol-5</p>
                    </div>
                    <div class="sfCol-7 ">
                        <p>sfCol-7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="cd_example grid Mb-10x">
    <div class="preview Mb-20x grid">
            <h2 class="example_title Px-3x">Offsets</h2>
            <p class="example_lead"></p>
            <div class="sfContainer-full ">
                <div class="sfRow">
                        <div class="sfCol-6 ">
                            <p>sfCol-6 </p>
                        </div>
                        <div class="sfCol-4 offset-sfCol-2">
                            <p>sfCol-4 offset-sfCol-2</p>
                        </div>
                        <div class="sfCol-6 offset-sfCol-3">
                            <p>sfCol-6 offset-sfCol-3</p>
                        </div>
                        <div class="sfCol-3   ">
                            <p>sfCol-30 </p>
                        </div>
                    </div>

            </div>
       
        <figure class="highlight ">
            <div data-lang="lang-html" class="codeContent">
                <div class="sfContainer-full">
                    <div class="sfRow">
                        <div class="sfCol-6">sfCol-6</div><div class="sfCol-3 offset-sfCol-2">sfCol-3 offset-sfCol-2</div>
                        <div class="sfCol-6 offset-sfCol-3">sfCol-6 offset-sfCol-3</div><div class="sfCol-3">sfCol-3</div>
                    </div>
                </div>
                
            </div>
</figure>



    </div>
</div>


