
@{
    ViewData["Title"] = "images";
}

<div class="cd_content">
    <h1 class="content_title ">Images</h1>
    <p class="content_lead">Documentation and examples for opting images into responsive behavior (so they never become larger than their parent elements) and add lightweight styles to them—all via classes.</p>
</div>

<div class="cd_example Mb-10x">
    <span class="example_title">Responsive Image</span>
    <div class="preview ">
        <div class="sfContainer-full">
            <div class="sfRow">
                <div class="sfCol-2">
                    <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                </div>
                <div class="sfCol-4">
                    <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                </div>
                <div class="sfCol-6">
                    <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                </div>
            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="sfContainer">
                <div class="sfRow">
                    <div class="sfCol-2">
                        <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                    </div>
                    <div class="sfCol-4">
                        <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                    </div>
                    <div class="sfCol-6">
                        <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>



<div class="cd_example Mb-10x">
    <span class="example_title">Responsive Image</span>
    <div class="preview ">
        <div class="sfContainer-full">
            <div class="sfRow">
                <div class="sfCol-2">
                    <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                </div>
                <div class="sfCol-4">
                    <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                </div>
                <div class="sfCol-6">
                    <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                </div>
            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="sfContainer">
                <div class="sfRow">
                    <div class="sfCol-2">
                        <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                    </div>
                    <div class="sfCol-4">
                        <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                    </div>
                    <div class="sfCol-6">
                        <img src="~/cbuilderassets/img/logo.png" class="img-responsive" alt="Responsive Image" />
                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>

<div class="cd_example Mb-10x">
    <span class="example_title">Thumbnail Image</span>
    <div class="preview ">
        <div class="sfContainer-full">
            <div class="sfRow">
                <div class="sfCol-4 t-center">
                    <img src="~/cbuilderassets/img/square.jpg" class="img-responsive img-circle" alt="Responsive Image" />
                </div>
                <div class="sfCol-4">
                    <img src="~/cbuilderassets/img/demo.jpeg" class="img-responsive img-thumbnail" alt="Responsive Image" />
                </div>
                <div class="sfCol-4">
                    <img src="~/cbuilderassets/img/squared.jpg" class="img-responsive " alt="Responsive Image" />
                </div>


            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="sfContainer">
                <div class="sfRow">
                    <div class="sfCol-4">
                        <img src="~/cbuilderassets/img/square.jpg" class="img-circle " alt="Responsive Image" />


                    </div>
                    <div class="sfCol-4">
                        <img src="~/cbuilderassets/img/demo.jpeg" class="img-thumbnail " alt="Responsive Image" />


                    </div>

                    <div class="sfCol-4">
                        <img src="~/cbuilderassets/img/squared.jpg" class="img-responsive " alt="Responsive Image" />

                    </div>
                </div>
            </div>
        </div>
    </figure>
</div>

