
@{
    ViewData["Title"] = "Containers";
}

<div class="cd_content">
    <h1 class="content_title ">Info & Rules</h1>
    <p class="content_lead ">
      Know about how to design your modules and dashbord pages and rules need to follow for it. 
    </p>
</div>
<div class="cd_example">
   <h3>Fonts and Icons</h3>
    <p>All fonts and Icons are in lib/css. Don't create fonts and icons in your module if custom icon and fonts needed and that is not available in portal central library add it in central library.</p>
</div>



