
@{
    ViewData["Title"] = "pagination";
}
    <div class="cd_content">
        <h1 class="content_title ">List Group</h1>
        <p class="content_lead ">
          List group which not only show lsit  of elements but also comples custom componetns.
        </p>
    </div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">List Group</span>
        <p></p>
    </div>
    <div class="preview">
        <ul class="list-group">
            <li class="group-item">First List</li>
            <li class="group-item">Second List</li>
            <li class="group-item">Third List</li>
            <li class="group-item"> Fourth List</li>
            <li class="group-item">Fifth List</li>
        </ul>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="list-group">
                <li class="group-item ">First List</li>
                <li class="group-item ">Second List</li>
                <li class="group-item ">Third List</li>
                <li class="group-item "> Fourth List</li>
                <li class="group-item ">Fifth List</li>
            </ul>
        </div>
    </figure>
</div>


<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">List Group with link</span>
        <p></p>
    </div>
    <div class="preview">
        <ul class="list-group">
           <a class="group-item group-item-link-bg active" href="/">First List</a>
           <a class="group-item group-item-link-bg" href="/">Second List</a>
           <a class="group-item group-item-link-bg" href="/">Third List</a>
           <a class="group-item group-item-link-bg" href="/">Fourth List</a>
           <a class="group-item group-item-link-bg" href="/">Fifth List</a>
        </ul>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="list-group">
                <li><a class="group-item group-item-link-bg" href="/">First List</a></li>
                <li><a class="group-item group-item-link-bg" href="/">Second List</a></li>
                <li><a class="group-item group-item-link-bg" href="/">Third List</a></li>
                <li><a class="group-item group-item-link-bg" href="/">Fourth List</a></li>
                <li><a class="group-item group-item-link-bg" href="/">Fifth List</a></li>
                <li class="group-item group-item-link-bg">Fifth List</li>
            </ul>
        </div>
    </figure>
</div>

<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">List Group without border</span>
        <p></p>
    </div>
    <div class="preview">
        <ul class="list-group ">
            <li class="group-item group-item-link group-item-bl-y active">First List</li>
            <li class="group-item group-item-link  group-item-bl-y">Second List</li>
            <li class="group-item group-item-link  group-item-bl-y">Third List</li>
            <li class="group-item group-item-link  group-item-bl-y"> Fourth List</li>
            <li class="group-item group-item-link  group-item-bl-y">Fifth List</li>
        </ul>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="list-group">
                <li class="group-item group-item-link group-item-bl-y">First List</li>
                <li class="group-item group-item-link  group-item-bl-y">Second List</li>
                <li class="group-item group-item-link  group-item-bl-y">Third List</li>
                <li class="group-item group-item-link  group-item-bl-y"> Fourth List</li>
                <li class="group-itemgroup-item-link  group-item-bl-y">Fifth List</li>
            </ul>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">List Group horizontal</span>
        <p></p>
    </div>
    <div class="preview">
        <ul class="list-group list-group-hz">
            <li class="group-item">First List</li>
            <li class="group-item">Second List</li>
            <li class="group-item">Third List</li>
            <li class="group-item"> Fourth List</li>
            <li class="group-item">Fifth List</li>
        </ul>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="list-group list-group-hz">
                <li class="group-item">First List</li>
                <li class="group-item">Second List</li>
                <li class="group-item">Third List</li>
                <li class="group-item"> Fourth List</li>
                <li class="group-item">Fifth List</li>
            </ul>
        </div>
    </figure>
</div>

<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">List Group horizontal with equal width</span>
        <p></p>
    </div>
    <div class="preview Mb-10x">
        <ul class="list-group list-group-hz">
            <li class="group-item group-item-auto">First List</li>
            <li class="group-item group-item-auto">Second List</li>
            <li class="group-item group-item-auto">Third List</li>
            <li class="group-item group-item-auto"> Fourth List</li>
            <li class="group-item group-item-auto">Fifth List</li>
        </ul>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="list-group list-group-hz">
                <li class="group-item group-item-auto">First List</li>
                <li class="group-item group-item-auto">Second List</li>
                <li class="group-item group-item-auto">Third List</li>
                <li class="group-item group-item-auto"> Fourth List</li>
                <li class="group-item group-item-auto">Fifth List</li>
            </ul>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">List Group with custom content</span>
        <p></p>
    </div>
    <div class="preview Mb-10x">
        <ul class="list-group ">
            <li class=" group-item group-item-link-bg active">
                <div class="flex f-s-between">
                    <h5 class="Mb-2x">List group heading</h5>
                    <span><i class="fa fa-check"></i>  </span>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

            </li>
            <li class=" group-item group-item-link-bg">
                <div class="flex f-s-between">
                    <h5 class="Mb-2x">List group heading</h5>
                    <span><i class="fa fa-check"></i>  </span>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

            </li>
            <li class="group-item group-item-link-bg">
                <div class="flex f-s-between">
                    <h5 class="Mb-2x">List group heading</h5>
                    <span><i class="fa fa-check"></i>  </span>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

            </li>
            <li class="group-item group-item-link-bg">
                <div class="flex f-s-between">
                    <h5 class="Mb-2x">List group heading</h5>
                    <span><i class="fa fa-check"></i>  </span>
                </div>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

            </li>
        </ul>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="list-group list-group-hz">
                <li class="group-item group-item-link-bg">
                    <div class="flex f-s-between">
                        <h5 class="Mb-2x">List group heading</h5>
                        <span><i class="fa fa-check"></i>  </span>
                    </div>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                </li>
                <li class="group-item group-item-link-bg">
                    <div class="flex f-s-between">
                        <h5 class="Mb-2x">List group heading</h5>
                        <span><i class="fa fa-check"></i>  </span>
                    </div>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                </li>
                <li class="group-item-link-bg">
                    <div class="flex f-s-between">
                        <h5 class="Mb-2x">List group heading</h5>
                        <span><i class="fa fa-check"></i>  </span>
                    </div>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                </li>
                <li class="group-item group-item-link-bg">
                    <div class="flex f-s-between">
                        <h5 class="Mb-2x">List group heading</h5>
                        <span><i class="fa fa-check"></i>  </span>
                    </div>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>

                </li>
            </ul>
        </div>
    </figure>
</div>
