
@{
    ViewData["Title"] = "Pills";
}
    <div class="cd_content">
        <div class="cd_content">
            <h1 class="content_title ">Pills</h1>
            <p class="content_lead ">
               Simple navigation component which allows to fit informations in a single space.
            </p>
        </div>
    </div>
    <div class="cd_example Mb-10x">
        <div class="preview badges">
            <h1>New Heading <span class="badge badge-primary">New</span></h1>
            <h2>New Heading <span class="badge badge-primary">New</span></h2>
            <h3>New Heading <span class="badge badge-primary">New</span></h3>
            <h4>New Heading <span class="badge badge-primary">New</span></h4>
            <h5>New Heading <span class="badge badge-primary">New</span></h5>
        </div>
        <figure>
            <div data-lang="lang-html" class="codeContent">
                <h1>New Heading <span class="badge badge-primary">New</span></h1>
                <h2>New Heading <span class="badge badge-primary">New</span></h2>
                <h3>New Heading <span class="badge badge-primary">New</span></h3>
                <h4>New Heading <span class="badge badge-primary">New</span></h4>
                <h5>New Heading <span class="badge badge-primary">New</span></h5>
            </div>
        </figure>
        <div class="preview flex">
            <button type="button" class="btn primary">
                Notifications <span class="badge badge-light">4</span>
            </button>
            <button type="button" class="btn success">
                Notifications <span class="badge badge-success">10</span>
            </button>
            
        </div>
        <figure>
            <div data-lang="lang-html" class="codeContent">
                <button type="button" class="btn primary">
                    Notifications <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn success">
                    Notifications <span class="badge badge-success">10</span>
                </button>
            </div>
        </figure>
    </div>
<div class="cd_example Mb-10x">
    <div class="preview ">
        <span class="pills pills-primary">Primary</span>
        <span class="pills pills-secondary">Secondary</span>
        <span class="pills pills-success">Success</span>
        <span class="pills pills-warning">Warning</span>
        <span class="pills pills-danger">Danger</span>
        <span class="pills pills-info">Info</span>
        <span class="pills pills-light">Danger</span>
        <span class="pills pills-dark">Info</span>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <span class="pills pills-primary">Primary</span>
            <span class="pills pills-secondary">Secondary</span>
            <span class="pills pills-success">Success</span>
            <span class="pills pills-warning">Warning</span>
            <span class="pills pills-danger">Danger</span>
            <span class="pills pills-info">Info</span>
            <span class="pills pills-light">Danger</span>
            <span class="pills pills-dark">Info</span>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="preview ">
        <span class="pills rounded pills-primary">Primary</span>
        <span class="pills rounded pills-secondary">Secondary</span>
        <span class="pills rounded pills-success">Success</span>
        <span class="pills  rounded pills-warning">Warning</span>
        <span class="pills rounded pills-danger">Danger</span>
        <span class="pills rounded pills-info">Info</span>
        <span class="pills rounded pills-light">Danger</span>
        <span class="pills rounded pills-dark">Info</span>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <span class="pills rounded pills-primary">Primary</span>
            <span class="pills rounded pills-secondary">Secondary</span>
            <span class="pills rounded pills-success">Success</span>
            <span class="pills  rounded pills-warning">Warning</span>
            <span class="pills rounded pills-danger">Danger</span>
            <span class="pills rounded pills-info">Info</span>
            <span class="pills rounded pills-light">Danger</span>
            <span class="pills rounded pills-dark">Info</span>
        </div>
    </figure>

</div>
<div class="cd_example Mb-10x">
    <div class="preview ">
        <span class="capsule capsule-primary">Primary</span>
        <span class="capsule capsule-secondary">Secondary</span>
        <span class="capsule capsule-success">Success</span>
        <span class="capsule capsule-warning">Warning</span>
        <span class="capsule capsule-danger">Danger</span>
        <span class="capsule capsule-info">Info</span>
        <span class="capsule capsule-light">Danger</span>
        <span class="capsule capsule-dark">Info</span>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <span class="capsule capsule-primary">Primary</span>
            <span class="capsule capsule-secondary">Secondary</span>
            <span class="capsule capsule-success">Success</span>
            <span class="capsule capsule-warning">Warning</span>
            <span class="capsule capsule-danger">Danger</span>
            <span class="capsule capsule-info">Info</span>
            <span class="capsule capsule-light">Danger</span>
            <span class="capsule capsule-dark">Info</span>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="preview ">
        <span class="capsule rounded capsule-primary">Primary</span>
        <span class="capsule rounded capsule-secondary">Secondary</span>
        <span class="capsule rounded capsule-success">Success</span>
        <span class="capsule  rounded capsule-warning">Warning</span>
        <span class="capsule rounded capsule-danger">Danger</span>
        <span class="capsule rounded capsule-info">Info</span>
        <span class="capsule rounded capsule-light">Danger</span>
        <span class="capsule rounded capsule-dark">Info</span>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <span class="capsule rounded capsule-primary">Primary</span>
            <span class="capsule rounded capsule-secondary">Secondary</span>
            <span class="capsule rounded capsule-success">Success</span>
            <span class="capsule  rounded capsule-warning">Warning</span>
            <span class="capsule rounded capsule-danger">Danger</span>
            <span class="capsule rounded capsule-info">Info</span>
            <span class="capsule rounded capsule-light">Danger</span>
            <span class="capsule rounded capsule-dark">Info</span>
        </div>
    </figure>
</div>
