
@{
    ViewData["Title"] = "spacing";
}
<div class="cd_content">
    <div class="cd_content">
        <h1 class="content_title ">Spacing</h1>
        <p class="content_lead ">
            Shorthand responsive margin and padding utility classes to modify an element’s appearance.
        </p>
    </div>
</div>
<div class="cd_example cd_list">
    <div class="board">
        <span class="example_title">Notation</span>
        <p class="Mb-3x">
            The classes are named using the format <code class="highlighter-rouge">{size}-{Property}-{size}</code> .
        </p>
        <p class="Mb-2x"><em>Property</em> is either one of the followings:</p>
        <ul class="mb-4x">
            <li><code class="highlighter-rouge">M</code> - for classes that set <code class="highlighter-rouge">margin</code></li>
            <li><code class="highlighter-rouge">P</code> - for classes that set <code class="highlighter-rouge">padding</code></li>
        </ul>
        <p class="Mb-2x"><em>Sides</em> is one of the followings:</p>
        <ul class="mb-4x">
            <li><code class="highlighter-rouge">l</code> - for classes that set <code class="highlighter-rouge">left values</code></li>
            <li><code class="highlighter-rouge">r</code> - for classes that set <code class="highlighter-rouge">right values</code></li>
            <li><code class="highlighter-rouge">x</code> - for classes that set <code class="highlighter-rouge">left and right values</code></li>
            <li><code class="highlighter-rouge">t</code> - for classes that set <code class="highlighter-rouge">top values</code></li>
            <li><code class="highlighter-rouge">b</code> - for classes that set <code class="highlighter-rouge">bottom values</code></li>
            <li><code class="highlighter-rouge">y</code> - for classes that set <code class="highlighter-rouge">top and bottom values</code></li>
            <li><code class="highlighter-rouge">a</code> - for classes that set <code class="highlighter-rouge">all sides values</code></li>


        </ul>
        <p class="Mb-2x"><em>Sizes</em> is one of the followings:</p>
        <ul class="mb-4x">
            <li><code class="highlighter-rouge">0</code> - for classes that set <code class="highlighter-rouge">0px</code></li>
            <li><code class="highlighter-rouge">1</code> - for classes that set <code class="highlighter-rouge">1px</code></li>
            <li><code class="highlighter-rouge">2</code> - for classes that set <code class="highlighter-rouge">2px</code></li>
            <li><code class="highlighter-rouge">3</code> - for classes that set <code class="highlighter-rouge">3px</code></li>
            <li><code class="highlighter-rouge">4</code> - for classes that set <code class="highlighter-rouge">4px</code></li>
            <li><code class="highlighter-rouge">1x</code> - for classes that set <code class="highlighter-rouge">1px * 5</code></li>
            <li><code class="highlighter-rouge">2x</code> - for classes that set <code class="highlighter-rouge">2px * 5</code></li>
            <li><code class="highlighter-rouge">and so on till 40x</code> - for classes till <code class="highlighter-rouge">40px * 5</code></li>



        </ul>
    </div>
    <div class="preview MlN-3x">
        <span class="example_title ">Examples</span>
        <p class="example_lead"></p>

    </div>

    <div class="board">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">
                        Screen Size
                    </th>
                    <th class="text-center">
                        Class
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Appears on mobile devices to all devices </td>
                    <td>
                        <code>.Pl-12</code>
                    </td>
                </tr>
                <tr>
                    <td>Appears only on sm</td>
                    <td>
                        <code>.sm-Pl-12 </code>
                    </td>
                </tr>
                <tr>
                    <td>Appears only on md</td>
                    <td>
                        <code>.md-Pl-12</code>
                    </td>
                </tr>
                <tr>
                    <td>Appears only on lg</td>
                    <td>
                        <code>.lg-Pl-12</code>
                    </td>
                </tr>
               
                <tr>
                    <td>Appears only on xl</td>
                    <td>
                        <code>.xl-Pl-12</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


