
@{
    ViewData["Title"] = "table";
}
    <div class="cd_content">
        <h1 class="content_title ">Buttons</h1>
        <p class="content_lead ">
          Documentation for tables with different examples to be used accordingly as necessary.
        </p>
    </div>
<div class="cd_example Mb-10x">
    <div class="board">
        <span class="example_title">Table </span>
    </div>
    <div class="preview">
        <table class="table ">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Display name</th>
                    <th>Address</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Jimmy </td>
                    <td>Brolin</td>
                    <td>Brolo</td>
                    <td>Totenham</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ralph</td>
                    <td>Morren</td>
                    <td>Ralp</td>
                    <td>Oslo</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jim</td>
                    <td>Hiddleston</td>
                    <td>Jee</td>
                    <td>Tokyo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <table class="table ">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Display name</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jimmy </td>
                        <td>Brolin</td>
                        <td>Brolo</td>
                        <td>Totenham</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ralph</td>
                        <td>Morren</td>
                        <td>Ralp</td>
                        <td>Oslo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jim</td>
                        <td>Hiddleston</td>
                        <td>Jee</td>
                        <td>Tokyo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </figure>
</div>
<div class="cd_example  Mb-10x">
    <div class="board">
        <span class="example_title">Table with border</span>
    </div>
    <div class="preview">
        <table class="table bordered">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Display name</th>
                    <th>Address</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jimmy </td>
                    <td>Brolin</td>
                    <td>Brolo</td>
                    <td>Totenham</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ralph</td>
                    <td>Morren</td>
                    <td>Ralp</td>
                    <td>Oslo</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jim</td>
                    <td>Hiddleston</td>
                    <td>Jee</td>
                    <td>Tokyo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <table class="table bordered">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Display name</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jimmy </td>
                        <td>Brolin</td>
                        <td>Brolo</td>
                        <td>Totenham</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ralph</td>
                        <td>Morren</td>
                        <td>Ralp</td>
                        <td>Oslo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jim</td>
                        <td>Hiddleston</td>
                        <td>Jee</td>
                        <td>Tokyo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </figure>
</div>
<div class="cd_example  Mb-10x">
    <div class="board">
        <span class="example_title">Table with alternate colored row</span>
        <p>Add class <code class="highlighter-rouge"> is-active </code>on row to make that row look activated</p>
    </div> 
    <div class="preview mt-5x">
        <table class="table alternates">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Display name</th>
                    <th>Address</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jimmy </td>
                    <td>Brolin</td>
                    <td>Brolo</td>
                    <td>Totenham</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ralph</td>
                    <td>Morren</td>
                    <td>Ralp</td>
                    <td>Oslo</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jim</td>
                    <td>Hiddleston</td>
                    <td>Jee</td>
                    <td>Tokyo</td>
                </tr>
                <tr class="is-active">
                    <td>4</td>
                    <td>Joe</td>
                    <td>Pascal</td>
                    <td>joey</td>
                    <td>Sydney</td>
                </tr>
            </tbody>
        </table>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <table class="table alternates">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Display name</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jimmy </td>
                        <td>Brolin</td>
                        <td>Brolo</td>
                        <td>Totenham</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ralph</td>
                        <td>Morren</td>
                        <td>Ralp</td>
                        <td>Oslo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jim</td>
                        <td>Hiddleston</td>
                        <td>Jee</td>
                        <td>Tokyo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </figure>
</div>

<div class="cd_example  Mb-10x">
    <div class="board">
        <span class="example_title">Table hoverable</span>
    </div>
    <div class="preview">
        <table class="table hoverable">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Display name</th>
                    <th>Address</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jimmy </td>
                    <td>Brolin</td>
                    <td>Brolo</td>
                    <td>Totenham</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ralph</td>
                    <td>Morren</td>
                    <td>Ralp</td>
                    <td>Oslo</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jim</td>
                    <td>Hiddleston</td>
                    <td>Jee</td>
                    <td>Tokyo</td>
                </tr>
            </tbody>
        </table>


    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <table class="table hoverable">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Display name</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jimmy </td>
                        <td>Brolin</td>
                        <td>Brolo</td>
                        <td>Totenham</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ralph</td>
                        <td>Morren</td>
                        <td>Ralp</td>
                        <td>Oslo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jim</td>
                        <td>Hiddleston</td>
                        <td>Jee</td>
                        <td>Tokyo</td>
                    </tr>
                </tbody>
            </table>
        </div>
</figure>
</div>

<div class="cd_example ">
    <div class="board">
        <span class="example_title">Responsive table</span>
    </div>
    <div class="preview">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Display name</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jimmy </td>
                        <td>Brolin</td>
                        <td>Brolo</td>
                        <td>Totenham</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ralph</td>
                        <td>Morren</td>
                        <td>Ralp</td>
                        <td>Oslo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jim</td>
                        <td>Hiddleston</td>
                        <td>Jee</td>
                        <td>Tokyo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <table class="table ">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Display name</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jimmy </td>
                        <td>Brolin</td>
                        <td>Brolo</td>
                        <td>Totenham</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ralph</td>
                        <td>Morren</td>
                        <td>Ralp</td>
                        <td>Oslo</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jim</td>
                        <td>Hiddleston</td>
                        <td>Jee</td>
                        <td>Tokyo</td>
                    </tr>
                </tbody>
            </table>
        </div>
</figure>
</div>