
@{
    ViewData["Title"] = "tabs";
}
<div class="cd_content">
    <h1 class="content_title ">Tabs</h1>
    <p class="content_lead ">
        Tabs which separate content placed in the same wrapper but in the separate pane. Only one pane can be displayed at a time.
    </p>
</div>

@*<div class="cd_example ">
    <div class="preview">
        <ul class="tab">
            <li class="tab-item">
                <a href="/" class="tab-link active">Link</a>
            </li>

            <li class="tab-item">
                <a href="/" class="tab-link">Link </a>
            </li>

            <li class="tab-item">
                <a href="/" class="tab-link">Link</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active">
                <p>
                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing
                    aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi
                    culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                </p>
            </div>
            <div class="tab-pane fade">
                <p>
                    Eonsequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex
                    veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation i.
                </p>
            </div>
            <div class="tab-pane fade">
                <p>
                    Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim
                    reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
                </p>
            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <ul class="tab">
                <li class="tab-item">
                    <a href="/" class="tab-link active">Link</a>
                </li>

                <li class="tab-item">
                    <a href="/" class="tab-link">Link </a>
                </li>

                <li class="tab-item">
                    <a href="/" class="tab-link">Link</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active">
                    <p>
                        Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing
                        aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi
                        culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                    </p>
                </div>
                <div class="tab-pane fade">
                    <p>
                        Eonsequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo anim ex
                        veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation i.
                    </p>
                </div>
                <div class="tab-pane fade">
                    <p>
                        Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim
                        reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
                    </p>
                </div>
            </div>
        </div>
    </figure>
</div>*@


<div class="tab">
    <div class="card">
        <div class="card-header active">
            <h5>
                Collapsible header
                <i class="fa  fa-chevron-down "></i>

            </h5>

        </div>
        <div class="collapse show">
            <div class="card-body">
                <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div class="card-header ">
            <h5>
                Collapsible header
                <i class="fa fa-chevron-up "></i>

            </h5>

        </div>
        <div class="collapse ">
            <div class="card-body">
                <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div class="card-header ">
            <h5>
                Collapsible header
                <i class="fa fa-chevron-up "></i>

            </h5>

        </div>
        <div class="collapse ">
            <div class="card-body">
                <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>
</div>

