
@{
    ViewData["data-title"] = "tooltips";
}
<div class="cd_content">
    <h1 class="content_data-title ">Tooltips</h1>
    <p class="content_lead ">
        Documentation for Css based tooltips that can be used in any component while hovering .
    </p>
</div>
<div class="cd_example Mb-10x">
    <div class="preview tooltips">
        <div class="tooltip bottom" data-toggle="tooltip" data-title="Default tooltip">Bottom Tooltip</div>

        <div class="tooltip left" data-toggle="tooltip" data-title="Left tooltip">Left Tooltip</div>

        <div class="tooltip right" data-toggle="tooltip" data-title="Right tooltip">Right Tooltip</div>

        <div class="tooltip top" data-toggle="tooltip" data-title="Bottom tooltip">Top Tooltip</div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="tooltip bottom" data-toggle="tooltip" data-title="Default tooltip">Bottom Tooltip</div>

            <div class="tooltip left" data-toggle="tooltip" data-title="Left tooltip">Left Tooltip</div>

            <div class="tooltip right" data-toggle="tooltip" data-title="Right tooltip">Right Tooltip</div>

            <div class="tooltip top" data-toggle="tooltip" data-title="Bottom tooltip">Top Tooltip</div>
        </div>
    </figure>
</div>
<div class="cd_example Mb-25">
    <div class="preview tooltips-margin">
        <button class="btn primary tooltip bottom" data-toggle="tooltip" data-title="Default tooltip">Button</button>
        <button class="btn primary tooltip right" data-toggle="tooltip" data-title="Right tooltip">Button</button>
        <button class="btn primary tooltip top" data-toggle="tooltip" data-title="Top tooltip">Button</button>
        <button class="btn primary tooltip left" data-toggle="tooltip" data-title="Left tooltip">Button</button>


    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            
                <button class="btn primary tooltip bottom" data-toggle="tooltip" data-title="Default tooltip">Button</button>
                <button class="btn primary tooltip right" data-toggle="tooltip" data-title="Right tooltip">Button</button>
                <button class="btn primary tooltip top" data-toggle="tooltip" data-title="Top tooltip">Button</button>
                <button class="btn primary tooltip left" data-toggle="tooltip" data-title="Left tooltip">Button</button>
            
        </div>
    </figure>
</div>

<div class="cd_example Mb-10x">
    <div class="preview tooltips">
        <div class="custom-tooltip ">
            <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
            <span class="tooltip-text top">
                <b>Top position</b>
                Custom tooltip
                <br />
                Use as required
            </span>
        </div>
        <div class="custom-tooltip ">
            <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
            <span class="tooltip-text left">
                <b>Left position</b>
                Custom tooltip
                <br>
                Use as required
            </span>
        </div>
        <div class="custom-tooltip ">
            <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
            <span class="tooltip-text right">
                <b>Right position</b>
                Custom tooltip
                <br>
                Use as required
            </span>
        </div>
        <div class="custom-tooltip ">
            <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
            <span class="tooltip-text bottom">
                <b>Bottom position</b>
                Custom tooltip
                <br>
                Use as required
            </span>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="custom-tooltip ">
                <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
                <span class="tooltip-text top">
                    <b>Top position</b>
                    Custom tooltip
                    <br />
                    Use as required
                </span>
            </div>
            <div class="custom-tooltip ">
                <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
                <span class="tooltip-text left">
                    <b>Left position</b>
                    Custom tooltip
                    <br>
                    Use as required
                </span>
            </div>
            <div class="custom-tooltip ">
                <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
                <span class="tooltip-text right">
                    <b>Right position</b>
                    Custom tooltip
                    <br>
                    Use as required
                </span>
            </div>
            <div class="custom-tooltip ">
                <span class="tooltip-icon"><i class="fa-info-circle fa"></i></span>
                <span class="tooltip-text bottom">
                    <b>Bottom position</b>
                    Custom tooltip
                    <br>
                    Use as required
                </span>
            </div>
        </div>
    </figure>
</div>

