
@{
    ViewData["Title"] = "Containers";
}

<div class="cd_content">
    <h1 class="content_title ">Typography</h1>
    <p class="content_lead ">
        Typography documnetation that includes headings, texts and more.
    </p>
</div>
<div class="cd_example Mb-10x">

    <div class="preview ">
        <span class="example_title">For every page with page title and buttons on top</span>
        <div class="page-title">
            <h1>Heading</h1>
            <div class="sfButtonwrapper">
                <button class="btn primary round">Add new</button>
                <button class="btn warning round">Filter</button>
                <button class="btn secondary round">Delete</button>
            </div>
        </div>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <div class="page-title">
                <h1>Heading</h1>
                <div class="sfButtonwrapper">
                    <button class="btn primary round">Add new</button>
                    <button class="btn warn round">Filter</button>
                    <button class="btn light round">Delete</button>
                </div>
            </div>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="preview">
        <h1>h1. Core heading</h1>
        <h2>h2. Core heading</h2>
        <h3>h3. Core heading</h3>
        <h4>h4. Core heading</h4>
        <h5>h5. Core heading</h5>
        <h6>h6. Core heading</h6>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <h1>h1. Core heading</h1>
            <h2>h2. Core heading</h2>
            <h3>h3. Core heading</h3>
            <h4>h4. Core heading</h4>
            <h5>h5. Core heading</h5>
            <h6>h6. Core heading</h6>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="preview">
        <p class="h1">h1. Core Paragraph heading</p>
        <p class="h2">h2. Core Paragraph heading</p>
        <p class="h3">h3. Core  Paragraph heading</p>
        <p class="h4">h4. Core Paragraph heading</p>
        <p class="h5">h5. Core Paragraph heading</p>
        <p class="h6">h6. Core Paragraph heading</p>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <p class="h1">h1. Core Paragraph heading</p>
            <p class="h2">h2. Core Paragraph heading</p>
            <p class="h3">h3. Core  Paragraph heading</p>
            <p class="h4">h4. Core Paragraph heading</p>
            <p class="h5">h5. Core Paragraph heading</p>
            <p class="h6">h6. Core Paragraph heading</p>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="preview">
        <h1 class="display-1">Display 1</h1>
        <h1 class="display-2">Display 2</h1>
        <h1 class="display-3">Display 3</h1>
        <h1 class="display-4">Display 4</h1>
        <h1 class="display-5">Display 5</h1>

    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <h1 class="display-1">Display 1</h1>
            <h1 class="display-2">Display 2</h1>
            <h1 class="display-3">Display 3</h1>
            <h1 class="display-4">Display 4</h1>
            <h1 class="display-5">Display 5</h1>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <div class="preview">
        <p class="fw-300">Text of 300 weight</p>
        <p class="fw-400">Text of 400 weight</p>
        <p class="fw-500">Text of 500 weight</p>
        <p class="fw-600">Text of 600 weight</p>
        <p class="fw-700">Text of 700 weight</p>
    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <p class="fw-300">Text of 300 weight</p>
            <p class="fw-400">Text of 400 weight</p>
            <p class="fw-500">Text of 500 weight</p>
            <p class="fw-600">Text of 600 weight</p>
            <p class="fw-700">Text of 700 weight</p>
        </div>
    </figure>
</div>
<div class="cd_example Mb-10x">
    <span class="example_title">Customized Headings/ texts</span>
    <div class="preview text-align">
        <p>Custom font<small class="gray-600">Preview</small></p>
        <p><del>Custom font Preview </del>C</p>
        <p><u>Underline font  Preview </u></p>
        <p><small>Small size font  Preview </small></p>
        <p><em>Italic font  Preview </em></p>
        <p><strong>Strong font  Preview </strong></p>



    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <p>Custom font<small class="gray-600">Preview</small></p>
            <p>Custom font<mark>highlighted</mark></p>
            <p><del>Custom font Preview </del>C</p>
            <p><u>Underline font  Preview </u></p>
            <p><small>Small size font  Preview </small></p>
            <p><em>Italic font  Preview </em></p>
            <p><strong>Italic font  Preview </strong></p>

        </div>
    </figure>


</div>
<div class="cd_example Mb-10x">
    <span class="example_title">Alignments</span>
    <div class="preview text-align">
        <p class="t-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p class="t-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="t-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    </div>
    <figure>
        <div data-lang="lang-html" class="codeContent">
            <p class="t-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p class="t-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="t-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </figure>


</div>


