<tr style="width:100%;display:block;" class="rowComp mComponent" data-type="row">
    <td class="shLayerAceptor" style="width:100%;height:100%;display:block">
        <div class="SetHdlr">
            <span class="moveUp"><i class="cb-tArw" title="Move Up"></i></span>
            <span class="stng">
                <i class="cb-stng" title="Settings"></i>
                <ul class="setDrp">
                    <li class="com-settings" data-type="row"><span>Settings</span><i class="cb-mxr"></i></li>
                    <li class="s-style" data-type="row"><span>Style</span> <i class="cb-stl"></i></li>
                    <li class="manage-col" data-type="row"><span>Column</span> <i class="cb-col"></i></li>
                    <li class="copyRow" data-type="row"><span>Duplicate</span><i class="cb-cpy"></i></li>
                </ul>
            </span>
            <span class="drag"><i class="cb-drg" title="Drag Up and down"></i></span>
            <span class="dltRw">
                <i class="cb-del deletehelper" vtitle="Delete"></i>
            </span>
            <span class="moveDown"><i class="cb-dArw" title="Move Down"></i></span>
        </div>
        <table style="width:100%;">
            <tbody class="tblColAceptor">
                <tr><td>This is row</td></tr>
            </tbody>
        </table>
    </td>
</tr>