
@model IEnumerable<Cbuilder.Core.Pages.PortalPage>

@{
    int rowTotal = 0;
}

<section class="content-header clearfix">
    <div class="page-title d-block sm-d-flex">
        <div class="h2">Portal Page</div>
        <div class="sfButtonwrapper">
            <a asp-action="CreatePortalPage" class="btn  primary round">Add New</a>            
        </div>
    </div>
</section>

<div class="sfDatagrid">
    <div class="sfDatagrid-header">
        <form asp-action="ManagePortalPage" method="get">
            <div class="dg-col-wp">
                <div class="sfCol-12 sfCol-md-4 ml-auto">
                    <div class="dg-group">
                        <div class="dg-search-key rounded">
                            <input type="text" id="keyword" class="sfFormcontrol rounded" name="keyword" placeholder="Search here by PageName" value="@ViewData["Keyword"]">
                            <button type="submit" class="search"><i class="fa fa-search rounded"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="sfDatagrid-title d-none sm-d-block">
        <div class="dg-col-wp">
            <div class="sfCol-8">Page</div>            
            <div class="sfCol-4  f-center">Action</div>
        </div>
    </div>
    <div class="sfDatagrid-body">
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                rowTotal = item.RowTotal;
        <div class="dg-col-wp">
            <div class="sfCol-8 sfCol-sm-3">
                <div class="dg-group Mb-10 sm-Mb-0">
                    <span class="ds-grd-tit"> @item.PageName</span>
                </div>
            </div>           
            <div class="sfCol-4 sfCol-sm-3 f-end sm-f-center">
                <div class="dg-group-inline">
                    <div class="action-menu">
                        <span class="action-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <ul class="action-open">
                            <li>
                                <a asp-action="Edit" asp-route-id="@item.PageID" class="links"><i class="far far fa-edit"></i>Edit</a>
                            </li>
                            <li>
                                <a asp-action="Delete" asp-route-id="@item.PageID" onclick="return ConfirmBox('Are you sure you want to delete this? All actions and permissions associated will also be delted.')" class="links"><i class='far fa-trash-alt'></i>Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            }
        }
        else
        {
            <div class="dg-nodata">
                No Data To Display.
            </div>
        }

    </div>
</div>

<div id="divPagination" class="Mt-5x"></div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#divPagination').CreatePagination({ total:@rowTotal, limit: 10 });
        });
    </script>
}
