<div style="display:block;" class="containerComp grpStng mComponent" data-type="container">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng" title="Setting"></i>
            <ul class="setDrp no_txt" style="display: none">
                <li class="com-settings" data-type="container">
                    <span class="text-wrp">Settings</span>
                    <i class="cb-mxr" title="Settings"></i>
                </li>
                <li class="s-style" data-type="container"><span class="text-wrp">Style</span><i class="cb-stl" title="Styles"></i></li>
                <li class="manage-container-col" data-type="container">
                    <span class="text-wrp">Column</span>
                    <i class="cb-col" title="Column"></i>
                </li>
                <li class="deletehelper delete_icon">
                    <i class="cb-del" title="Delete"></i>
                </li>
            </ul></span>
            <span class="sortComponent">
                <i class="cb-drg" title="Drag up and down"></i>
            </span>
    </div>
    <table>
        <tbody class="tblContainerCol">
            <tr><td>This is Container</td></tr>
        </tbody>
    </table>
</div>