@using Cbuilder.Core.Models.ManageViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}
<div class="is-small">
    <section class="content-header">
        <div class="page-title">
            <div class="h2">Update Password</div>

        </div>
    </section>
    <div class="sfFormwrapper card">
        <div class="card-body">


            <form method="post">
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="OldPassword"></label>
                    </div>

                    <div class="formvalue">
                        <input asp-for="OldPassword" class="sfFormcontrol" />
                        <span asp-validation-for="OldPassword" class="sfError"></span>
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="NewPassword"></label>
                    </div>

                    <div class="formvalue">
                        <input asp-for="NewPassword" class="sfFormcontrol" />
                        <span asp-validation-for="NewPassword" class="sfError"></span>
                    </div>
                </div>
                <div class="sfFieldset">
                    <div class="formkey">
                        <label asp-for="ConfirmPassword"></label>
                    </div>

                    <div class="formvalue">
                        <input asp-for="ConfirmPassword" class="sfFormcontrol" />
                        <span asp-validation-for="ConfirmPassword" class="sfError"></span>
                    </div>
                </div>

                <div class="sfButtonwrapper">
                    <button class="btn round primary">Update</button>
                    <button class="btn round light">Cancel</button>
                </div>

                @*<button type="submit" class="btn btn-default">Update</button>*@
            </form>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
