<div class="mComponent  mailRichText" data-type="ending line">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng"></i>
            <ul class="setDrp no_txt" style="display: none;">
                <li class="com-settings" data-type="ending line"><span class="text-wrp">Settings</span><i class="cb-mxr" title="Settings"></i></li>
                <li class="s-style" data-type="ending line"><span class="text-wrp">Style</span><i class="cb-stl" title="Styles"></i></li>
                <li class="delete_icon deletehelper"><span class="text-wrp">Delete</span><i class="cb-del deletehelper" title="Delete"></i></li>
            </ul>
        </span>
        <span class="sortComponent"><i class="cb-drg" title="Drag Up and down"></i></span>
    </div>
    <div class="mailRichText">
        <div class="documenttext" contenteditable="true">
            <span style="letter-spacing: normal; display: block;">
                <font data-fontsize="16" data-fontrecover="1" style="text-transform: none;">
                    <span style="color: rgb(12, 12, 12); font-family: arial; font-size: 14px;" data-fontsize="14" data-fontrecover="1">Best Regards</span>
                </font>
            </span>
            <span style="letter-spacing: normal; display: block;">
                <font data-fontsize="14" data-fontrecover="1" face="arial" style="text-transform: none; color: rgb(12, 12, 12); font-size: 14px;">John Doe</font>
            </span>
            <span style="letter-spacing: normal; display: block;">
                <font data-fontsize="16" data-fontrecover="1" face="arial" style="text-transform: none; color: rgb(12, 12, 12); font-size: 16px;">Software Engineer, Contentder</font>
            </span>
        </div>
    </div>
</div>
