<div id="addressSetting">
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Show Logo</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleLogo">
                            <label for="toggleLogo" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Show Address</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="toggleaddress">
                            <label for="toggleaddress" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="setting-item">
        <div class="field-row data-row settingitem">
            <div class="item field-row stElWrap cPointer col100">
                <span class="sfCol_6 sortitem TxAl-l">
                    <i class="fa fa-arrows-v sortHandle "></i>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_40 TxAl-l">
                    <label class="fCol itemname">Show Social Link</label>
                </span>
                <span class="sfCol_2"></span>
                <span class="sfCol_50 ">
                    <div class="fCol toggletter TxAl-r Dfx">
                        <span class="toggle_btn toggleItem">
                            <input type="checkbox" id="togglesocial">
                            <label for="togglesocial" class="tgl_slider"></label>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
