<div class="mComponent  grpStng mailRichText  addressSample" data-type="address sample">
    <div class="SetHdlr">
        <span class="stng">
            <i class="cb-stng"></i>
            <ul class="setDrp no_txt" style="display: none;">
                <li class="com-settings" data-type="address sample"><span class="text-wrp">Settings</span><i class="cb-mxr" title="Settings"></i></li>
                <li class="s-style" data-type="address sample"><span class="text-wrp">Style</span><i class="cb-stl" title="Styles"></i></li>
                <li class="delete_icon deletehelper"><span class="text-wrp">Delete</span><i class="cb-del deletehelper" title="Delete"></i></li>
            </ul>
        </span>
        <span class="sortComponent"><i class="cb-drg" title="Drag Up and down"></i></span>
    </div>
    <div data-type="logo" data-name="Logo" style="display: inline-block; width: 31%;" class="mComponent logo address-item">
        <div class="SetHdlr no-drag">
            <span class="stng">
                <i class="cb-stng" title="Setting"></i>
                <ul class="setDrp no_txt" style="display: none">
                    <li class="com-settings" data-type="logo">
                        <span class="text-wrp">Settings</span>
                        <i class="cb-mxr" title="Settings"></i>
                    </li>
                    <li class="deletehelper delete_icon">
                        <i class="cb-del" title="Delete"></i>
                    </li>
                </ul>
            </span>
        </div>
        <div class="image-wrap">
            <img src="http://172.18.12.4:3333/images/logos/website/Contentder.png" class="ml-logo" style="display:inline-block;width: 100%;">
        </div>
    </div>
    <div class="mComponent address address-item" data-name="address" data-type="rich text">
        <div class="SetHdlr no-drag" style="z-index:1;">
            <span class="stng">
                <i class="cb-stng" title="Settings"></i>
                <ul class="setDrp no_txt" style="display: none;">
                    <li class="com-settings" data-type="rich text">
                        <span class="text-wrp">Settings</span>
                        <i class="cb-mxr" title="Settings"></i>
                    </li>
                    <li class="s-style" data-type="rich text" data-title="Address">
                        <span class="text-wrp">Style</span>
                        <i class="cb-stl" title="Styles"></i>
                    </li>
                </ul>
            </span>
        </div>
        <div class="mailRichText addressText">
            <div class="documenttext">
                <div class="messageTemplate">
                    <div class="content">
                        <p style="margin: 0px;">
                            <span style="display: block;">
                                <font style="color: rgb(9, 134, 7); text-transform: none; font-size: 16px;" data-fontsize="16" data-fontrecover="1" face="arial">
                                    <b>Contentder</b>
                                </font>
                            </span>
                            <span style="display: block;">
                                <span style="color: rgb(13, 14, 13);">
                                    <font style="text-transform: none; font-size: 14px;" data-fontsize="14" data-fontrecover="1" face="arial">Suite 502, 15 Orion Road Lane Cove NSW 2066 Sydney Australia</font>
                                    
                                </span>
                            </span>
                            <span style="display: block;">
                                <font style="text-transform: none; font-size: 13px; color: rgb(13, 14, 13);" data-fontsize="13" data-fontrecover="1" face="arial">Phone: +61 (28) 8800275 | ACN: 619257117 </font>
                            </span>
                            <span style="display: block;">
                                <font style="text-transform: none; font-size: 13px; color: rgb(13, 14, 13);" data-fontsize="13" data-fontrecover="1" face="arial">Copyright 2018 Contentder. All rights reserved.</font>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mComponent sociallinkComp address-item" data-name="social" data-type="sociallink" style="display: inline-block; width: 100%;">
        <div class="SetHdlr no-drag">
            <span class="stng">
                <i class="cb-stng" title="Settings"></i>
                <ul class="setDrp no_txt" style="display: none;">
                    <li class="com-settings" data-type="sociallink">
                        <span class="text-wrp">Settings</span>
                        <i class="cb-mxr" title="Settings"></i>
                    </li>
                    <li class="s-style" data-type="sociallink" data-title="button">
                        <span class="text-wrp">Style</span>
                        <i class="cb-stl" title="Styles"></i>
                    </li>
                </ul>
            </span>
        </div>
        <div class="sociallink-items" style="margin: 0px;">
            <span class="sociallink googleplus" data-name="Google Plus" style="display: inline-block; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/googleplus.png" style="width:100%; height:auto;">
                </a>
            </span>
            <div class="sociallink twitterlink" data-name="Twitter" style="display: inline-block; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/twitter.png" style="width: 100%;height:auto;">
                </a>
            </div>
            <span class="sociallink facebooklink" data-name="Facebook" style="display: inline-block; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/facebook.png" style="width:100%; height:auto;">
                </a>
            </span>
            <span class="sociallink linkedinlink" data-name="LinkedIn" style="display: none; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/linkedin.png" style="width:100%; height:auto;">
                </a>
            </span>
            <span class="sociallink instagram" data-name="Instagram" style="display: none; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/instagram.png" style="width:100%; height:auto;">
                </a>
            </span>
            <span class="sociallink youtube" data-name="Youtube" style="display: none; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/youtube.png" style="width:100%; height:auto;">
                </a>
            </span>
            <span class="sociallink pinterest" data-name="Pinterest" style="display: none; width: 5%; padding: 3px;">
                <a href="">
                    <img src="/emailtemplate/icons/pinterest.png" style="width:100%; height:auto;">
                </a>
            </span>
        </div>
    </div>
</div>
