@using Cbuilder.Core.Models.AccountViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<hr />
<div class="login-outer">
    <div class="sfContainer dflex">
        
        <div class="login-wrap forgot">
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="sfFormwrapper sfCol_100 Mt-0">
                    <h1 >@ViewData["Title"]</h1>
                    <h2>Enter your email address</h2>
                    <div class="sfFieldset">

                        <div class="sfFormkey">

                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="sfInputbox" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="sfButtonwrapper">
                        <button type="submit" class="sfBtn primary btn-full">Submit</button>
                    </div>
                </div>
                
               
            </form>
        </div>
    </div>
</div>
    

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
