@using Microsoft.AspNetCore.Identity
@using System.Linq
@using Cbuilder.Core.Models.AccountViewModels
@using Cbuilder.Core.Helper.Models
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Login";
}
<div class="login-outer">
    <div class="sfContainer dflex">
        <div class="login-wrap ">
            <h1>@ViewData["Title"]</h1>
            <p>Login using your username and password</p>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="sfFormwrapper sfCol_100">
                    <div class="sfFieldset">
                        <div class="sfFormkey">
                            <input asp-for="UserEmail" class="sfInputbox" />
                            <label asp-for="UserEmail"></label>
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="sfFieldset">
                        <div class="sfFormkey">
                            <input asp-for="UserPassword" class="sfInputbox" />
                            <label asp-for="UserPassword">Password</label>
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="sfButtonwrapper">
                        <button type="submit" class="sfBtn primary btn-full">Login</button>
                    </div>
                </div>

            </form>
            <div class="form-group footer-login">
                <p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    Are you a new user?
                    <a asp-action="Register" class="Pl-2x link Ml-1x" asp-route-returnurl="@ViewData["ReturnUrl"]">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>
