@using Cbuilder.Core.Models.AccountViewModels
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="sfContainer">
    <div class="sfRow">
        <div class=" sfCol_50 tsfCol_50 msfCol_100 ">
            <div class="sfCard sfFormwrapper">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    @*<div class="sfFieldset">
                        <div class="sfFormkey">
                            <label asp-for="Email">Email</label>
                        </div>

                        <div class="sfFormvalue">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="sfFieldset">
                        <div class="sfFormkey">
                            <label asp-for="Password"></label>
                        </div>

                        <div class="sfFormvalue">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="sfFieldset">
                        <div class="sfFormkey">
                            <label asp-for="ConfirmPassword"></label>
                        </div>

                        <div class="sfFormvalue">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="sfButtonwrapper">
                        <button class="sfBtn success">Reset</button>
                        <button class="sfBtn danger">Cancel</button>
                    </div>
                    @*<button type="submit" class="btn btn-default">Reset</button>*@
                </form>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }*@
